{% include 'home/navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'user/profile.css' %}">
<div class="block-heading">
    <h2>Profile</h2>
  </div>
  <div class="content">
    <h5><b>Username:</b> {{user.username}}</h5>
    <h5><b>Cart Items: </b></h5>
      {% for oitem in all_items %}
    <h5>&emsp;- {{oitem.item.name}}</h5>
    {%endfor%}
    <hr>
    <a class="btn btn-info mr-3" href="{% url 'password_change' %}">Change Password</a>
    <a class="btn btn-info" href="{% url 'password_reset' %}">Reset Password</a>
  </div>

